<div class="content-wrapper">
	<div class="container-full">
		<!-- Main content -->
		<section class="content">

			<h3>Bookings</h3>
			<div class="row">
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h4 class="fw-500 tileText">Total Sale</h4>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/total-trips.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Sales Amount</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/Intransit.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Total Purchase</h5>
									<h2 class="fw-600 mb-0">7859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/reached.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Purchase Amount</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/trip-completed.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">In-Transit Vehicle</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/invoice-pending.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Breakdown Vehicle</h5>
									<h2 class="fw-600 mb-0">7859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/trip-build.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h4 class="fw-500 tileText">Idle Vehicle</h4>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/total-trips.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Document Expiring</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/Intransit.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Document Expired</h5>
									<h2 class="fw-600 mb-0">7859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/reached.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Dl Expiring</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/trip-completed.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Invoice Pending</h5>
									<h2 class="fw-600 mb-0">859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/invoice-pending.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-12 ">
					<div class="box box-body pull-up">
						<div class="row">
							<div class="col-7">
								<div>
									<h5 class="fw-500 tileText">Trip Build</h5>
									<h2 class="fw-600 mb-0">7859</h2>
								</div>
							</div>
							<div class="col-5">
								<div>
									<img src="~/Resources/images/index/trip-build.png" / class="tiles-img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</section>
		<!-- /.content -->
	</div>
</div>